<mat-card class="dev-dashboard" fxLayout.lt-md="column" fxLayout="row" *ngIf="assignedTasks.length > 0">

  <div fxFlex.lt-md="100%" fxLayout="column" fxFlex="35" fxLayout="row" class="d-db-left" fxLayoutAlign="center center">
    <img src="./assets/tasks.jpg" alt="Profile" id="dev-dash-img">
  </div>


  <div fxFlex.lt-md="100%" fxLayout="column" fxFlex="65" class="d-db-right">
    <h3>YOUR TASKS </h3>

    <div *ngFor="let task of assignedTasks" fxLayoutAlign="center center" fxLayout="column">

      <mat-toolbar id="d-task" fxLayout="row">
        <div fxFlex="78%" fxLayoutAlign="center center">
          <p>{{ task.task }}</p>
        </div>
        <div fxFlex="22%" fxLayoutAlign="center center" id="duration">
          <ng-container *ngIf="hasDuration(task.id)">
            <mat-list-item>
              <mat-list style="text-align: center;">
                <span id="taskTime">
                  {{ getDuration(task.id) }}
                </span>
              </mat-list>
            </mat-list-item>
          </ng-container>
          <ng-container *ngIf="!hasDuration(task.id)">
            <button mat-mini-fab color="primary" id="task-btn" (click)="openDurationModal(task.id)">
              <mat-icon>schedule</mat-icon>
            </button>
          </ng-container>
        </div>
      </mat-toolbar>

    </div>
  </div>


</mat-card>

<mat-card class="dev-dashboard" fxLayout="row" *ngIf="assignedTasks.length === 0">

  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <img src="./assets/noTask.jpeg" alt="No task assigned" id="no-task-img">
  </div>

</mat-card>