<mat-card class="admin-dashboard" fxLayout="row">

  <div fxFlex="12" fxLayout="column" class="db-left">
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center none">
      <mat-list id="manager-list">
        <h3>ALL MANAGERS</h3>
        <mat-list-item *ngFor="let manager of managers" id="manager-list-member"
          [class.selected]="manager.name === managerName" (click)="getTeam(manager.id)"
          (click)="selectedManager(manager)">
          <p>{{ manager.name | titlecase}}</p>
        </mat-list-item>
      </mat-list>
    </div>

    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" id="new-btn">
      <button mat-raised-button color="primary" (click)=" openTeamDialog()">New</button>
    </div>

  </div>

  <div fxFlex="12" fxLayout="column" class="db-left">
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center none">
      <mat-list id="developer-list">
        <h3>UNMAPPED DEVELOPERS</h3>
        <mat-list-item *ngFor="let developer of unmappedDevelopers" id="deveoper-list-member">
          <p>{{ developer.name | titlecase}}</p>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

  <div fxFlex="12" fxLayout="column" class="db-left">
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center none">
      <mat-list id="developer-list">
        <h3>ALL DEVELOPERS</h3>
        <mat-list-item *ngFor="let developer of juniorDevelopers"
          (click)="getAssignedTasks(developer.id,developer.name)" id="deveoper-list-member"
          [class.selected]="isDeveloperMappedToManager(developer)" [class.devDelected]="developer.name === jrDevName">
          <p>{{ developer.name | titlecase}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div fxFlex="64" class="a-db-right" fxLayout="column" *ngIf="managerName !==''&& displayTask===false">
    <h3 *ngIf="developers.length>0"> {{ managerName | titlecase}}'s Team
      <button mat-mini-fab color="warn" id="del-btn" (click)="openDeleteTeamDialog()">
        <mat-icon>delete</mat-icon>
      </button>
    </h3>

    <div *ngIf="developers.length>0" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="75">
        <mat-card id="it-team">
          <mat-toolbar id="team-header" color="primary">
            <div fxFlex="75" fxLayoutAlign="center center">
              Manager : {{ managerName | titlecase}}
            </div>
            <div fxFlex="25" fxLayoutAlign="center center">
              <button mat-raised-button (click)="openDeleteDevDialog()">
                Delete Developer
              </button>
            </div>
          </mat-toolbar>
          <mat-card-content fxLayoutAlign="center center">

            <mat-list *ngFor="let developer of developers" style="margin-right: 10px;">
              <mat-list-item>
                <span matListItemTitle>Name</span>
                <span matListItemLine>{{ developer.name | titlecase }}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Role</span>
                <span matListItemLine>{{ developer.role }}</span>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Email</span>
                <span matListItemLine>{{ developer.email }}</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div *ngIf="developers.length===0" fxLayoutAlign="center center">
      <mat-card-content style="margin-top: 200px;">
        <mat-list-item> Manager {{managerName}} has no Developers! </mat-list-item>
      </mat-card-content>
    </div>

  </div>

  <div fxFlex="70" fxLayoutAlign="center center" fxLayout="column" *ngIf="managerName==='' && displayTask===false">
    <img src="./assets/profile.jpg" alt="Profile" style="height: 450px;">
  </div>

  <div fxFlex="64" class="a-db-right" fxLayout="column" *ngIf=" displayTask===true">
    <div class="m-db-right" *ngIf="assignedTasks.length > 0">
      <h3>ASSIGNED TASKS</h3>

      <div *ngFor="let task of assignedTasks" fxLayoutAlign="center center" fxLayout="column">

        <mat-toolbar id="m-task" fxLayoutAlign="center center">
          <p>{{ task.task }}</p>
        </mat-toolbar>


      </div>
    </div>

    <div class="m-db-right" fxLayoutAlign="center center" *ngIf="assignedTasks.length === 0">
      <img src="./assets/noTask.jpeg" alt="no task assigned" style="height: 380px;margin-top: 50px;">
    </div>

  </div>

</mat-card>