.admin-dashboard {
  height: 469px;
  margin: 10px;
}

.members-container {
  height: 398px;
  width: 100%;
  overflow: auto;
}

#manager-list-member,
#developer-list-member,
#um-developer-list-member {
  margin-left: 14px;
  margin-top: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
  height: 30px;
  width: 110px;
}

#manager-list-member:hover,
#developer-list-member:hover {
  background-color: #3f51b5;
  cursor: pointer;
}

#manager-list-member:hover p,
#developer-list-member:hover p {
  color: white !important;
}

.a-db-right {
  background-color: #f5f5f5;
}

.a-db-right h3 {
  margin: 30px 0px;
  color: #3f51b5 !important;
  font-size: 17px !important;
}

#del-btn {
  color: hsl(4, 90%, 58%) !important;
  margin: 20px 0px 20px 15px;
  cursor: pointer;
}

#del-btn mat-icon {
  font-size: 17px !important;
}

#manager-list h3,
#developer-list h3,
#um-developer-list h3 {
  color: #3f51b5 !important;
  font-size: 16px !important;
}

#um-developer-list h3 {
  padding-left: 30px;
}

#manager-list-member p,
#developer-list-member p,
#um-developer-list-member p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px !important;
  padding: 0px !important;
}

#m-task p {
  font-size: 16px;
  font-weight: 400;
}

#new-btn {
  margin: 18px 0px 15px 14px;
}

#it-team {
  height: 350px;
}

#team-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}

.selected {
  background-color: #3f51b5 !important;
}

.selected p {
  color: white !important;
}

.devDelected {
  background-color: #7b88ce !important;
}

.devDelected p {
  color: white !important;
}

.m-db-right {
  background-color: #f5f5f5;
}

.m-db-right h3 {
  margin: 30px 0px 30px 50px;
  color: #3f51b5 !important;
}

#m-task {
  width: 90%;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}

#m-task:hover {
  background-color: #3f51b5 !important;
  color: #fff;
  cursor: pointer;
}

#it-team button {
  font-size: 12px !important;
}

#no-task-img {
  height: 380px;
  margin-top: 50px;
  border-radius: 8px;
}

#dash-img {
  height: 380px;
}

#users-btn {
  margin: 16px 14px 0px 0px;
}

.table-container {
  height: 320px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: none;
}

table {
  width: 100%;
}

.table-container th {
  background-color: #3f51b5 !important;
  color: white;
}

.table-container th,
td {
  text-align: center;
}

.no-devs img {
  height: 380px;
  border-radius: 8px;
}

.no-devs p {
  background-color: #3f51b5 !important;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 12px;
}

@media (max-width: 900px) {
  .admin-dashboard {
    height: 770px;
    margin: 0px;
    box-shadow: none;
  }

  .members-container {
    height: 300px;
  }

  .a-db-right h3 {
    margin: 30px 0px 20px 30px;
  }

  #it-team {
    height: 300px;
  }

  #users-btn,
  #new-btn button {
    font-size: 13px;
  }

  #users-btn .mat-icon,
  #new-btn button .mat-icon {
    font-size: 16px;
  }

  #dash-img {
    height: 250px;
    margin-top: 0px;
  }

  #no-task-img {
    height: 250px;
    margin-top: 70px;
  }

  .m-db-right h3 {
    margin: 30px 0px 15px 26px;
  }

  #user-data span {
    font-size: 13px !important;
  }

  .table {
    margin: 10px;
  }

  .no-devs img {
    height: 280px;
    margin-top: 30px;
  }

  .no-devs {
    text-align: center;
  }

  .no-devs p {
    padding: 14px;
    font-size: 14px;
  }
}
