<mat-toolbar color="primary" class="navbar">

  <div id="logo">
    <img src="./assets/TMS - Clock Logo.jpeg" alt="logo">
    <h4>Task Management System</h4>
  </div>
  <div *ngIf="authService.isLoggedIn" id="menu-items">
    <button mat-button routerLink="/users" *ngIf="showUser">
      <mat-icon> group</mat-icon>Users</button>
    <button mat-button routerLink="/dashboard">
      <mat-icon> dashboard</mat-icon>Dashboard</button>
    <button mat-button routerLink="/profile">
      <mat-icon> account_circle</mat-icon>Profile</button>
    <button mat-button (click)="openLogoutDialog()">
      <mat-icon> logout</mat-icon>Logout</button>

  </div>
  <div *ngIf="!authService.isLoggedIn" id="menu-items">
    <button mat-button routerLink="/signin">
      <mat-icon>login</mat-icon> Sign in
    </button>
    <button mat-button routerLink="/signup">
      <mat-icon> person_add</mat-icon> Sign up</button>
  </div>

  <div id="menuIcon">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="70" mode="side" opened>
    <div *ngIf="authService.isLoggedIn" id="side-menu-items">
      <button mat-button (click)="sidenav.close()" routerLink="/profile">
        <mat-icon> account_circle</mat-icon>Profile</button>
      <button mat-button (click)="sidenav.close()" routerLink="/dashboard">
        <mat-icon> dashboard</mat-icon>Dashboard</button>
      <button mat-button (click)="sidenav.close()" routerLink="/users" *ngIf="showUser">
        <mat-icon> group</mat-icon>Users</button>
      <button mat-button (click)="openLogoutDialog()">
        <mat-icon> logout</mat-icon>Logout</button>
    </div>

    <div *ngIf="!authService.isLoggedIn" id="side-menu-items">
      <button mat-button (click)="sidenav.close()" routerLink="/signin">
        <mat-icon>login</mat-icon> Sign in
      </button>
      <button mat-button (click)="sidenav.close()" routerLink="/signup">
        <mat-icon> person_add</mat-icon> Sign up</button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>