
.sign-up {
  margin: 20px;
  height: 450px;
}

.sign-up-form {
  max-width: 40% !important;
  margin-top: 50px;
}

.mat-button-disabled {
  color: #fff;
  background-color: #3f51b5;
}

.loader{
  height:330px;
}

#member p {
  margin: 0px !important;
  font-size: 14px;
  padding: 10px 0px 15px;
}

#member:hover{
  cursor: pointer;
}