.admin-dashboard {
  height: 469px;
  margin: 10px;
}

.db-left {
  margin: 60px;
  height: 350px;
  overflow: auto;
}

#manager-list,
#developer-list {
  width: 80%;
}

#manager-list-member,
#deveoper-list-member {
  margin-left: 25px;
  margin-top: 3px;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
  height: 30px;
  width: 110px;
}

#manager-list-member:hover,
#deveoper-list-member:hover {
  background-color: #3f51b5;
  color: white !important;
  cursor: pointer;
}

#manager-list-member:hover p,
#deveoper-list-member:hover p {
  color: white !important;
}

#manager-list h3,
#developer-list h3 {
  margin: 10px 0px 15px 5px;
  color: #3f51b5 !important;
  font-size: 16px !important;
}

#manager-list-member p,
#deveoper-list-member p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px !important;
  padding: 0px !important;
}

.selected {
  background-color: #3f51b5 !important;
}

.selected p {
  color: white !important;
}

#dash-img{
  height: 400px;
}

.profile {
  margin: 20px;
  height: 450px;
}

.user-profile-data {
  height: 370px;
  margin-top: 50px;
  width: 70%;
 
}

.user-profile-data img {
  height: 100%;
}

#br-10 {
  border-radius: 5px;
  color: #3f51b5;
  justify-content: center;
}

.user-profile-data h3 {
  font-size: 18px !important;
  word-spacing: 2px;
}

#usd {
  height: 400px;
}

#user-img {
  height: 150px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .admin-dashboard {
    height: 730px;
    margin: 0px;
    box-shadow: none;
  }

  .db-left {
    margin: 30px 0px 0px 15px;
    height: 400px;
    overflow: auto;
  }

  #manager-list-member p,
  #deveoper-list-member p {
    font-size: 11px;
  }

  #manager-list h3,
  #developer-list h3 {
    font-size: 14px !important;
  }

  #dash-img{
    height: 300px;
  }
  
  .user {
    margin-top: 10px;
  }

  .user-profile-data{
    height: 330px;
  }

  #user-img {
    height: 100px;
    margin-bottom: 10px;

  }

  .user-profile-data img {
    height: 80%;
    width: 100%;
  }

  #usd button {
    margin-bottom: 15px;
    font-size: 10px;
  }

  #user-data span {
    font-size: 13px !important;
  }
}
